{% extends 'page.jinja' %}

{% block content %}
  {% if profile %}
    {% for l in log %}
      <div>{{ l }}</div>
    {% endfor %}
  {% else %}
    <p>
      <b>You are not logged in.</b>
    </p>
    <p>
      Example of Fernet based SSO system.
      See the <a target="_blank" href="https://github.com/tutorcruncher/fernet-sso-demo">source code</a>
      for more details.
    </p>
  {% endif %}
{% endblock %}
