{% extends 'page.jinja' %}

{% block content %}
  <dl class="dl-horizontal">
    <dt>Group:</dt>
    <dd>{{ group }}</dd>
  {% for key, value in profile.items() %}
    <dt>{{ key }}:</dt>
    <dd>{{ value }}</dd>
  {% endfor %}
  </dl>
{% endblock %}
